.w-400 {
    width: 400px;
}

.w-600 {
    width: 600px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 50px;
}

.mt-4 {
    margin-top: 60px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.p-3 {
    padding: 30px;
}

.go-back-btn {
    padding: 5px;
    font-size: 1.5em;
    background-color: #006be5;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
